@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div>
    <table>
        <thead>
            <tr>
                <td>Номер заказа</td>
                <td>id телефона</td>
                <td>Дата заказа</td>
                <td>Email клиента</td>
                <td>ФИО клиента</td>
                <td>Адрес клиента</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var purchase in ViewBag.Purchases)
            {
                <tr>
                    <td>@purchase.Id</td>
                    <td>@purchase.PhoneId</td>
                    <td>@purchase.DateTime</td>
                    <td>@purchase.Email</td>
                    <td>@purchase.Name</td>
                    <td>@purchase.Address</td>
                </tr>
            }
        </tbody>
    </table>
</div>
